// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$sl-gray: #FFFFFA;
$white: #FFFFFF;
$bluish: #EFF4F3;

$tan: #fff4e4;
$orange: #f88020;
$pink: #d1274b;
$maroon: #3d0e1e;
