
.search-box {
  background-color: $darkblue;
  height: 300px;
  padding: 20px;
  color: white;

  h3 {
    font-style: italic;
  }
}

.info-box {
  font-size: 30;
}

.home-vert-boxes {
padding-top: 100px;
}

.quotation{
  font-size: 30px;
  //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
footer{
  margin:0;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
}

.special-photo {
  width: 240px;
  filter: drop-shadow(0px 10px 0px #CCC);
}
