
.search-box {
  background-color: $orange;
  height: 300px;
  padding: 20px;
}

.info-box {
  height: 300px;
  padding:20px;
}

.info-box p {
  font-size: 30;
}

.home-vert-boxes {
padding-top: 100px;
}

h1 {
  color: black;
}
