#title {
  h2 {
    color: $maroon;
    margin: 10px;
  }
  h4 {
    color: $maroon;
    margin: 10px;
  }
}

#trabi-main-box {
  display: flex;
  justify-content: space-between;

}

#trabi-desc-card {
  padding: 20px;
  height: 302px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px #E3DDDF;
  margin: 10px;

  #info-box {
    p {
      margin: 2px 0px;
      color: $maroon;
    }
    padding-bottom: 15px;
  }

  #desc-box {
    color: $maroon;
    border-top: 1px solid $maroon;
    padding-top: 15px;
    font-size: 14px;
    text-align: justify;
  }
}

#trabi-btn-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  height: 83px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px #E3DDDF;
  background-color: white;
}

#trabi-form-card {

  padding: 20px;
  margin: 10px;
  height: 95px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px #E3DDDF;
  background-color: white;

  #rent-btn {
    margin-left: 10px;
    // margin-top: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: $tan;
    background-color: #00909e;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0,144,158,0.4);
    padding: 6px 17px;


    &:hover {
      text-decoration: none;
      background-color: #49B0BA;
    }

    &:active {
      outline: none;
      box-shadow: 0px 0px 2px 4px rgba(0,144,158,0.4);
    }

    &:focus {
      outline: none;

    }
  }
}
