<div class="main-bg">
  <div class="main-bg-blur">
    <div class="container">
      <div class="home-vert-boxes">
        <div class="row">

          <div class="col-8">
            <div class="rounded-lg search-box d-flex flex-column justify-content-around align-items-center">
              <h1> Rent a Trabi - live the dream! </h1>

              <%= form_tag trabis_path, method: :get do %>
                <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search a Location!" %>
                <%= submit_tag "Search", class: "btn btn-primary" %>
              <% end %>

            </div>
          </div>


          <div class="col-4">
            <div class="info-box rounded-lg" style="background-color:white">
            <p>The <strong>Trabant</strong> (/ˈtræbænt, -ənt/; German: [tʁaˈbant]) is an automobile which was produced from 1957 to 1990 by former East German car manufacturer VEB Sachsenring Automobilwerke Zwickau. It is often seen as symbolic of the former East Germany and the collapse of the Eastern Bloc in general.</p>
            <p><a href="https://en.wikipedia.org/wiki/Trabant">(Wikipedia)</a></p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
