.align-buttons-registration {
  display: flex;

}

.trabi-btn {
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: $tan;
  background-color: #d1274b;
  border-radius: 8px;
  box-shadow: 2px 2px 3px #F2C1CC;
  padding: 10px 17px;


  &:hover {
    text-decoration: none;
    background-color: #D84665;
  }

  &:active {
    outline: none;
    box-shadow: 0px 0px 2px 4px #F2C1CC;
  }

  &:focus {
    outline: none;

  }
}


.trabi-icon-btn  {
  color: #FFC65A;
  cursor: pointer;
  .trabi-icon-star {
    color: $yellow;
  }
  .trabi-icon-skull {
    color: $red;
  }
  &:hover{
    .trabi-icon-star {
      text-shadow: 0px 0px 2px #ea9800;
    }
    .trabi-icon-skull {
      text-shadow: 0px 0px 2px $red;
    }
  }

}


