.navbar-lewagon {
  justify-content: space-between;
  background-image: url('maroon_bg_image.png');
  overflow: auto;
  color: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 0.5rem;
  color: white;
}

#trabidoo {
  font-family: 'Calistoga', cursive;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}

.nav-link {
  color: white;
}

#rent-trabi-link {
  color: white;
}

#navbarDropdown {

}
