.navbar-lewagon {
  background-color: rgba(70,88,129,0.92);
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  overflow: auto;
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-top: 12px;
  padding-right: 2.5rem;
  padding-left: 0.5rem;
  color: white;
}

#trabidoo {
  font-family: 'Calistoga', cursive;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}

.nav-link {
  color: white;
}


#rent_trabi {
  color: white;
}

