.navbar-lewagon {
  background-color: rgba(70,88,129,0.92);
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
    padding-top: 12px;
}

#rent_trabi {
  color: white;
}

