<h1>All Trabants:</h1>

<div class="list">
    <% @trabis.each do |trabi| %>
        <li class="list_link_style"><%= link_to trabi.title, trabi_path(trabi) %></li>
    <% end %>
  </div>


 <% @trabis.each do |trabi| %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>

</div>
<% end %>
