<h1>Trabants:</h1>

 <% @trabis.each do |trabi| %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= trabi.title %></h2>
    <p> <%= trabi.description %> </p>
  </div>

</div>
<% end %>
